// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
margin-right: auto;
margin-left: auto;
max-width: 520px;
}