  <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">OtoKore とは？</h2>
                    <h3 class="section-subheading text-muted">OtoKoreは、音楽共有サイトです。<br>
      思い出の曲や、まさに今良いと思った曲を共有したり<br>
      他のユーザーの投稿にいいねやコメントを送ることで<br>
      好きな曲を通して気軽に交流することもできます。</h3>
                </div>
               
    <ul>
      <li>
        <h3><i class="fas fa-user-alt"></i>User</h3>
        <p>
          会員未登録でもゲストとして閲覧できますが、会員登録をしていただくと<br>
          いいね機能やコメント機能、検索もあわせてご利用いただけます。<br>
          <%= link_to '登録する', new_user_registration_path, class: "btn btn-outline-dark" %>
        </p>
      </li>
      
      <li>
        <h3><i class="fas fa-heart"></i>Like</h3>
        <p>
          いいねはブックマークでもあるので、お気に入りの投稿をいつでも見返すことができます。
        </p>
      </li>
      <li>
        <h3><i class="fas fa-comment-dots"></i>Communication</h3>
        <p>
          サイト上で他の会員様とやりとりを行うことができます。<br>
          感想を言い合ったり、情報交換などができるようになっています。
        </p>
      </li>
    </ul>
    <p><%= link_to 'TOPへ', root_path %></p>
    </div>
  </div>
</section>

