<div class='container'>
  <div class='row'>
    <h1 class="mx-auto">About</h1>
  </div>

  <div class='row'>
    <p class="px-3 mx-auto text-center">
      OtoKoreは、音楽共有サイトです。<br>
      曲名・アーティスト名・ジャンル・ひと言の入力のみで手軽に良いと思った曲を共有したり、<br>
      他のユーザーの投稿にはいいねやコメントを送ることで好きな曲を通して気軽に交流することができるサイトです。
    </p>
  </div>
</div>