<div class='container'>
  <div class='row'>
    <h1 class="mx-auto">About</h1>
  </div>

  <div class='row'>
    <p class="px-3 mx-auto text-center">
      OtoKoreは、音楽共有サイトです。
    </p>
  </div>
</div>