<div class="container-fluid main-visual">
  <div class="row">
    <div class="col-lg-12 main-visual-text">
      <p>
        あなたの好きな音楽を共有しませんか
      </p>
      <h1>ようこそ、OtoKoreへ。</h1>
    </div>
  </div>
</div>

<% if user_signed_in? %>

<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <table class="table table-borderless">
    <tr class="d-flex d-block flex-wrap justify-content-center ">
      <% @posts.each do |post| %>
       <td class="new_item_table">
          <%= link_to post_path(post) do %>
            <p class="figure-caption"><%= post.title %></p>
          <% end %>
            <p class="figure-caption"><%= post.artist %></p>
        </td>
      <% end %>
    </tr>
  </table>
</div>

  <div class="col text-right">
  <%= link_to "全ての投稿を見る>", posts_path %>
</div>

<% end %>