<div class="container">
      <div class="row">
          <div class="col-xs-12 mx-auto">
              <div class="text-center">                
                <p>
                  <span>ようこそ、OtoKoreへ</span><br>
                </p>
              </div>
          </div>
      </div>
  </div>

<div class="container new-item">
  <h2>新着投稿</h2>
  <div class="row">
    <table class="table table-borderless">
    <tr class="d-flex d-block flex-wrap justify-content-center ">
      <% @posts.each do |post| %>
       <td class="new_item_table">
          <%= link_to post_path(post) do %>
            <p class="figure-caption"><%= post.title %></p>
            <p class="figure-caption"><%= post.artist %></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>

  <div class="row">
      <% @posts.first(4).each do |post| %>
       
      <% end %>
  </div>
  <div class="col text-right">
  <%= link_to "全ての投稿を見る>", posts_path %>
</div>