<h2>my page</h2>
        <%#= image_tag @user.get_profile_image(100,100) %>
          <table class="table">
            <tbody>
              <tr>
                <th>name</th>
                <th>
                  <%= @user.name %>
                </th>
              </tr>
              </tr>
            </tbody>
          </table>